body {
    font-family: 'Nunito', sans-serif !important;
    background-color: #aecfd1;
    font-size: 14px
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 50px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
}


.textarea {
    border-style: solid;
    border-width: medium;
    border-color: #748687;
}

.button {
    margin-top: 10px;
    background-color: #748687;
    color: white;
    border: none;
    padding: 10px 20px;
}

/* Modal */
.modal-title {
    font-size: 28px !important;
    margin: 8px;
}

.modal-header .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal-content {
    min-height: 500px;
    min-width: 580px;
}

.modal-body p {
    font-size: 20px;
    margin: 20px 8px;
}

.modal-body button {
    font-size: 18px;
    margin: 15px;
}

.model-body span {
    font-size: 20px;
}

.modal-body textarea {
    min-height: 250px;
    min-width: 350px;
}

#loading-container {
    margin: auto;
}