<!-- Modal Content -->
<div class="modal-header">
    <h1 class="modal-title fs-5" id="modalLabel">Personal Details</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body" style="margin: 15px 28px">
    <form>
        <div class="row mb-3">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name" id="firstName">
        </div>
        <div class="row mb-3">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" id="lastName">
        </div>
        <div class="row mb-3">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </form>

    <div class="row mb-3">
        <div style="font-size: 18px; margin: 10px">
            <input type="radio" name="check" value="" id="check" onclick="checkOne()"
                   style="vertical-align: middle; margin-top:-2px; margin-bottom:1px;"> I don't want to provide my personal information
        </div>
    </div>

    <button type="button" class="btn btn-warning" id="submitInfoBtn">Done</button>
</div>

<script type="text/javascript" src="../frontend/js/feedbackCustomerInformation.js"></script>