<!-- Modal Content -->
<div class="modal-header">
    <h1 class="modal-title fs-5" id="modalLabel">Help us improve your experience!</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p>We're always looking for ways to improve your experience, that's why we're asking you answer a short
        survey.</p>
    <button type="button" class="btn btn-warning" id="startBtn">Start the survey</button>
</div>
<script type="text/javascript" src="/static/js/startSurveyModal.js"></script>
<script type="text/javascript" src="/static/js/stepper.js"></script>